# App
FASTAPI_ENV=development
DEBUG=true

# Auth
JWT_KEY=your-minimum-32-character-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database
DATABASE_URL=sqlite+aiosqlite:///database/dev.db

# System Admin
ADMIN_EMAIL=valid-email-address
ADMIN_PASSWORD=admin-password