# App
FASTAPI_ENV=development

# Auth
JWT_KEY=your-minimum-32-character-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database
DATABASE_URL=sqlite+aiosqlite:///database/dev.db

# System Admin
# create
ADMIN_ACTION=create
ADMIN_EMAIL=valid-email-address
ADMIN_PASSWORD=admin-password
# replace
# ADMIN_ACTION=replace
# CURRENT_ADMIN_EMAIL=valid-email-address
# CURRENT_ADMIN_PASSWORD=admin-password
# NEW_ADMIN_EMAIL=valid_email-address-2
# NEW_ADMIN_PASSWORD=admin-password-2

# Email (uncomment in utils/email.py to enable)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
